.App {
  font-family: sans-serif;
  text-align: center;
}

.button-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

button {
  padding: 5px 10px;
  border: none;
  border: 1px solid black;
}
